In [2]:
### import packages
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [158]:
### read the data file
datafile_train=r'C:\Users\id832393\Documents\Personal\Data science\Python\Hackathon\India ML Hiring Hackathon 2019\Data\train.csv'
datafile_test=r'C:\Users\id832393\Documents\Personal\Data science\Python\Hackathon\India ML Hiring Hackathon 2019\Data\test.csv'
ld_train=pd.read_csv(datafile_train)
ld_test=pd.read_csv(datafile_test)

In [135]:
print(ld_train.shape)
print(ld_test.shape)

(116058, 29)
(35866, 28)

In [41]:
ld_train

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m12,m13,IR_0to1,IR_1to2,IR_2to3,IR_3to4,IR_4to5,IR_5to6,IR_6to7,IR_7to8
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,1,0,0,0,0,1,0,0,0
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,1,0,0,0,0,1,0,0,0
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,1,0,0,0,1,0,0,0,0
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,1,1,0,0,0,0,1,0,0,0
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,11,1,0,0,0,0,1,0,0,0
5,769060024464,Y,Browning-Hart,4.375,150000,360,2012-02-01,04/2012,80,1.0,...,0,1,0,0,0,0,1,0,0,0
6,148071614687,X,OTHER,4.000,59000,360,2012-02-01,04/2012,95,1.0,...,0,1,0,0,0,1,1,0,0,0
7,853383953266,Y,Browning-Hart,4.500,319000,300,2012-01-01,03/2012,62,1.0,...,0,1,0,0,0,0,1,0,0,0
8,423590072335,X,Browning-Hart,4.000,520000,360,2012-03-01,05/2012,76,1.0,...,1,1,0,0,0,1,1,0,0,0
9,308990846816,X,OTHER,4.000,214000,360,2012-01-01,03/2012,95,2.0,...,2,1,0,0,0,1,1,0,0,0
10,154855543213,X,OTHER,4.125,74000,360,2012-02-01,04/2012,90,1.0,...,1,1,0,0,0,0,1,0,0,0
11,780643872178,X,Richardson Ltd,3.750,192000,121,2012-01-01,03/2012,80,1.0,...,1,1,0,0,0,1,0,0,0,0
12,901409059208,X,OTHER,4.625,46000,360,2012-03-01,05/2012,80,1.0,...,0,1,0,0,0,0,1,0,0,0
13,102451329914,X,"Swanson, Newton and Miller",4.375,256000,360,2012-01-01,03/2012,80,1.0,...,8,1,0,0,0,0,1,0,0,0
14,828404369124,Y,Edwards-Hoffman,5.125,84000,360,2012-02-01,04/2012,80,1.0,...,0,1,0,0,0,0,0,1,0,0
15,895377180786,X,OTHER,4.125,48000,240,2012-01-01,03/2012,55,1.0,...,1,1,0,0,0,0,1,0,0,0
16,556238051864,Y,Browning-Hart,4.250,68000,360,2012-02-01,04/2012,80,1.0,...,3,1,0,0,0,0,1,0,0,0
17,715484786393,Y,Browning-Hart,4.000,142000,360,2012-02-01,04/2012,70,1.0,...,0,1,0,0,0,1,1,0,0,0
18,428108380103,Y,"Swanson, Newton and Miller",4.625,89000,240,2012-01-01,03/2012,65,1.0,...,1,1,0,0,0,0,1,0,0,0
19,252577759845,Y,"Turner, Baldwin and Rhodes",4.375,417000,360,2012-02-01,04/2012,56,1.0,...,2,1,0,0,0,0,1,0,0,0
20,590967091253,X,OTHER,4.625,55000,360,2012-02-01,04/2012,50,1.0,...,0,1,0,0,0,0,1,0,0,0
21,481425798631,Y,"Turner, Baldwin and Rhodes",4.500,60000,360,2012-02-01,04/2012,55,1.0,...,1,1,0,0,0,0,1,0,0,0
22,897810643785,X,OTHER,3.250,127000,120,2012-01-01,03/2012,62,2.0,...,1,1,0,0,0,1,0,0,0,0
23,136868745615,X,OTHER,3.375,215000,180,2012-01-01,03/2012,44,1.0,...,1,1,0,0,0,1,0,0,0,0
24,134695659987,X,OTHER,4.500,150000,360,2012-01-01,03/2012,75,1.0,...,1,1,0,0,0,0,1,0,0,0
25,757687253558,X,OTHER,4.500,246000,360,2012-02-01,04/2012,90,2.0,...,2,1,0,0,0,0,1,0,0,0
26,477152543889,Y,OTHER,3.750,77000,180,2012-02-01,04/2012,85,2.0,...,1,1,0,0,0,1,0,0,0,0
27,639128211599,X,OTHER,3.750,203000,360,2012-02-01,04/2012,73,2.0,...,0,1,0,0,0,1,0,0,0,0
28,391938144683,X,OTHER,3.750,162000,360,2012-02-01,04/2012,58,2.0,...,0,1,0,0,0,1,0,0,0,0
29,276078099929,Y,Browning-Hart,4.125,264000,360,2012-01-01,03/2012,77,2.0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116028,490158422250,Y,Browning-Hart,3.875,150000,360,2012-02-01,04/2012,21,2.0,...,0,0,0,0,0,1,0,0,0,0
116029,682398480752,X,OTHER,4.125,280000,360,2012-01-01,03/2012,52,1.0,...,0,0,0,0,0,0,1,0,0,0
116030,225632588669,Z,OTHER,4.250,280000,360,2012-02-01,04/2012,52,2.0,...,0,0,0,0,0,0,1,0,0,0
116031,647710184336,Y,OTHER,4.250,137000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,0,0,0,1,0,0,0
116032,914025289101,Y,Nicholson Group,3.250,202000,180,2012-01-01,03/2012,77,2.0,...,0,0,0,0,0,1,0,0,0,0
116033,320367506337,X,Browning-Hart,4.250,329000,360,2012-02-01,04/2012,64,2.0,...,0,0,0,0,0,0,1,0,0,0
116034,119881130219,X,OTHER,3.875,38000,240,2012-01-01,03/2012,35,1.0,...,0,0,0,0,0,1,0,0,0,0
116035,512858812801,Y,Browning-Hart,4.250,84000,360,2012-01-01,03/2012,80,1.0,...,0,0,0,0,0,0,1,0,0,0
116036,721919696535,Y,Browning-Hart,4.250,120000,360,2012-01-01,03/2012,45,2.0,...,0,0,0,0,0,0,1,0,0,0
116037,448167646048,X,"Swanson, Newton and Miller",4.500,168000,360,2012-01-01,03/2012,66,2.0,...,0,0,0,0,0,0,1,0,0,0
116038,896985453137,X,OTHER,4.000,108000,360,2012-02-01,04/2012,51,1.0,...,0,0,0,0,0,1,1,0,0,0
116039,295198916535,X,OTHER,3.250,150000,360,2012-03-01,05/2012,34,2.0,...,0,0,0,0,0,1,0,0,0,0
116040,129297217394,Z,Browning-Hart,3.875,341000,360,2012-01-01,03/2012,46,1.0,...,0,0,0,0,0,1,0,0,0,0
116041,286641090882,Y,Browning-Hart,4.375,194000,360,2012-01-01,03/2012,90,2.0,...,0,0,0,0,0,0,1,0,0,0
116042,851008181924,X,OTHER,3.250,228000,180,2012-02-01,04/2012,78,1.0,...,0,0,0,0,0,1,0,0,0,0
116043,101989961963,X,OTHER,3.250,118000,180,2012-03-01,05/2012,42,2.0,...,0,0,0,0,0,1,0,0,0,0
116044,967378269093,X,Browning-Hart,4.500,55000,360,2012-02-01,04/2012,64,2.0,...,0,0,0,0,0,0,1,0,0,0
116045,403533707370,X,OTHER,2.875,194000,180,2012-03-01,05/2012,45,2.0,...,0,0,0,0,1,0,0,0,0,0
116046,325294420616,X,OTHER,3.875,176000,180,2012-01-01,03/2012,39,2.0,...,0,0,0,0,0,1,0,0,0,0
116047,956715092548,X,OTHER,3.625,110000,360,2012-02-01,04/2012,80,1.0,...,0,0,0,0,0,1,0,0,0,0
116048,536022970387,X,OTHER,3.000,90000,180,2012-03-01,05/2012,72,1.0,...,0,0,0,0,1,1,0,0,0,0
116049,745013346682,Y,OTHER,4.250,492000,360,2012-01-01,03/2012,66,1.0,...,0,0,0,0,0,0,1,0,0,0
116050,627135532331,X,Browning-Hart,3.875,288000,240,2012-01-01,03/2012,80,2.0,...,0,0,0,0,0,1,0,0,0,0
116051,374363980675,X,"Swanson, Newton and Miller",4.375,107000,360,2012-01-01,03/2012,70,1.0,...,0,0,0,0,0,0,1,0,0,0
116052,749843159666,X,OTHER,4.375,86000,360,2012-02-01,04/2012,75,1.0,...,0,0,0,0,0,0,1,0,0,0
116053,382119962287,Y,Browning-Hart,4.125,153000,360,2012-02-01,04/2012,88,2.0,...,0,0,0,0,0,0,1,0,0,0
116054,582803915466,Z,OTHER,3.000,150000,120,2012-01-01,03/2012,35,1.0,...,0,0,0,0,1,1,0,0,0,0
116055,837922316947,X,OTHER,3.875,166000,360,2012-02-01,04/2012,58,2.0,...,0,0,0,0,0,1,0,0,0,0
116056,477343182138,X,OTHER,4.250,169000,360,2012-02-01,04/2012,74,2.0,...,0,0,0,0,0,0,1,0,0,0
116057,763308490661,Z,Thornton-Davis,3.375,252000,180,2012-01-01,03/2012,29,2.0,...,0,0,0,0,0,1,0,0,0,0

In [188]:
list(zip(  ld_train.isnull().sum(), ld_train.nunique(), ld_train.dtypes, ld_train.columns))

[(0, 2, dtype('uint8'), 'loan_purpose_B12'),
 (0, 2, dtype('uint8'), 'loan_purpose_C86'),
 (0, 2, dtype('uint8'), 'financial_institution_Browning-Hart'),
 (0, 2, dtype('uint8'), 'financial_institution_Chapman-Mcmahon'),
 (0, 2, dtype('uint8'), 'financial_institution_Cole, Brooks and Vincent'),
 (0, 2, dtype('uint8'), 'financial_institution_Edwards-Hoffman'),
 (0, 2, dtype('uint8'), 'financial_institution_Martinez, Duffy and Bird'),
 (0, 2, dtype('uint8'), 'financial_institution_Miller, Mcclure and Allen'),
 (0, 2, dtype('uint8'), 'financial_institution_Nicholson Group'),
 (0, 2, dtype('uint8'), 'financial_institution_OTHER'),
 (0, 2, dtype('uint8'), 'financial_institution_Richards-Walters'),
 (0, 2, dtype('uint8'), 'financial_institution_Richardson Ltd'),
 (0, 2, dtype('uint8'), 'financial_institution_Romero, Woods and Johnson'),
 (0, 2, dtype('uint8'), 'financial_institution_Sanchez, Hays and Wilkerson'),
 (0, 2, dtype('uint8'), 'financial_institution_Sanchez-Robinson'),
 (0, 2, dtype('uint8'), 'financial_institution_Suarez Inc'),
 (0, 2, dtype('uint8'), 'financial_institution_Swanson, Newton and Miller'),
 (0, 2, dtype('uint8'), 'financial_institution_Taylor, Hunt and Rodriguez'),
 (0, 2, dtype('uint8'), 'financial_institution_Thornton-Davis'),
 (0, 2, dtype('uint8'), 'financial_institution_Turner, Baldwin and Rhodes'),
 (0, 2, dtype('uint8'), 'source_Y'),
 (0, 2, dtype('uint8'), 'source_Z'),
 (0, 116058, dtype('int64'), 'loan_id'),
 (0, 923, dtype('float64'), 'interest_rate'),
 (0, 646, dtype('int64'), 'unpaid_principal_bal'),
 (0, 4, dtype('<M8[ns]'), 'first_payment_date'),
 (0, 92, dtype('int64'), 'loan_to_value'),
 (0, 2, dtype('float64'), 'number_of_borrowers'),
 (0, 2, dtype('float64'), 'insurance_type'),
 (0, 4, dtype('int64'), 'm1'),
 (0, 5, dtype('int64'), 'm2'),
 (0, 6, dtype('int64'), 'm3'),
 (0, 7, dtype('int64'), 'm4'),
 (0, 8, dtype('int64'), 'm5'),
 (0, 9, dtype('int64'), 'm6'),
 (0, 10, dtype('int64'), 'm7'),
 (0, 10, dtype('int64'), 'm8'),
 (0, 11, dtype('int64'), 'm9'),
 (0, 12, dtype('int64'), 'm10'),
 (0, 13, dtype('int64'), 'm11'),
 (0, 13, dtype('int64'), 'm12'),
 (0, 2, dtype('int64'), 'm13'),
 (0, 1, dtype('int32'), 'IR_0to1'),
 (0, 1, dtype('int32'), 'IR_1to2'),
 (0, 2, dtype('int32'), 'IR_2to3'),
 (0, 2, dtype('int32'), 'IR_3to4'),
 (0, 2, dtype('int32'), 'IR_4to5'),
 (0, 2, dtype('int32'), 'IR_5to6'),
 (0, 2, dtype('int32'), 'IR_6to7'),
 (0, 2, dtype('int32'), 'loan_term_360'),
 (0, 2, dtype('int32'), 'loan_term_180'),
 (0, 2, dtype('int32'), 'loan_term_120'),
 (0, 2, dtype('int32'), 'loan_term_240'),
 (0, 2, dtype('int32'), 'loan_term_300'),
 (0, 2, dtype('int32'), 'loan_term_96'),
 (0, 2, dtype('int32'), 'loan_term_156'),
 (0, 2, dtype('int32'), 'DIR_0to5'),
 (0, 2, dtype('int32'), 'DIR_5to10'),
 (0, 2, dtype('int32'), 'DIR_10to15'),
 (0, 2, dtype('int32'), 'DIR_15to20'),
 (0, 2, dtype('int32'), 'DIR_20to25'),
 (0, 2, dtype('int32'), 'DIR_25to30'),
 (0, 2, dtype('int32'), 'DIR_30to35'),
 (0, 2, dtype('int32'), 'DIR_35to40'),
 (0, 2, dtype('int32'), 'DIR_40to45'),
 (0, 2, dtype('int32'), 'DIR_45to50'),
 (0, 2, dtype('int32'), 'DIR_50to55'),
 (0, 2, dtype('int32'), 'DIR_55to60'),
 (0, 2, dtype('int32'), 'DIR_60to65'),
 (0, 2, dtype('int32'), 'BCS_0to50'),
 (0, 1, dtype('int32'), 'BCS_50to100'),
 (0, 1, dtype('int32'), 'BCS_100to150'),
 (0, 1, dtype('int32'), 'BCS_150to200'),
 (0, 1, dtype('int32'), 'BCS_200to250'),
 (0, 1, dtype('int32'), 'BCS_250to300'),
 (0, 1, dtype('int32'), 'BCS_300to350'),
 (0, 1, dtype('int32'), 'BCS_350to400'),
 (0, 1, dtype('int32'), 'BCS_400to450'),
 (0, 2, dtype('int32'), 'BCS_450to500'),
 (0, 1, dtype('int32'), 'BCS_500to550'),
 (0, 2, dtype('int32'), 'BCS_550to600'),
 (0, 2, dtype('int32'), 'BCS_600to650'),
 (0, 2, dtype('int32'), 'BCS_650to700'),
 (0, 2, dtype('int32'), 'BCS_700to750'),
 (0, 2, dtype('int32'), 'BCS_750to800'),
 (0, 2, dtype('int32'), 'BCS_800to850'),
 (0, 2, dtype('int32'), 'IP_0to10'),
 (0, 2, dtype('int32'), 'IP_10to20'),
 (0, 2, dtype('int32'), 'IP_20to30'),
 (0, 2, dtype('int32'), 'IP_30to40'),
 (0, 2, dtype('int32'), 'CBCS_0to50'),
 (0, 1, dtype('int32'), 'CBCS_50to100'),
 (0, 1, dtype('int32'), 'CBCS_100to150'),
 (0, 1, dtype('int32'), 'CBCS_150to200'),
 (0, 1, dtype('int32'), 'CBCS_200to250'),
 (0, 1, dtype('int32'), 'CBCS_250to300'),
 (0, 1, dtype('int32'), 'CBCS_300to350'),
 (0, 1, dtype('int32'), 'CBCS_350to400'),
 (0, 1, dtype('int32'), 'CBCS_400to450'),
 (0, 1, dtype('int32'), 'CBCS_450to500'),
 (0, 1, dtype('int32'), 'CBCS_500to550'),
 (0, 1, dtype('int32'), 'CBCS_550to600'),
 (0, 2, dtype('int32'), 'CBCS_600to650'),
 (0, 2, dtype('int32'), 'CBCS_650to700'),
 (0, 2, dtype('int32'), 'CBCS_700to750'),
 (0, 2, dtype('int32'), 'CBCS_750to800'),
 (0, 2, dtype('int32'), 'CBCS_800to850'),
 (0, 6, dtype('float64'), 'diff_date_origin_firstPay')]

1. covert origination_date and first_payment_date to date format
2. Loan pusrpose
3. categorical variable : source, financial_institution, 
    
 (0, 116058, dtype('int64'), 'loan_id') 
     remove
 (0, 3, dtype('O'), 'source')
     dummies
 (0, 19, dtype('O'), 'financial_institution') 
     dummies
 (0, 923, dtype('float64'), 'interest_rate'),
     features with ranges. 0to1, 1to2, 2to3, 3to4
 (0, 646, dtype('int64'), 'unpaid_principal_bal')
 (0, 140, dtype('int64'), 'loan_term'), = check the values
 (0, 3, dtype('O'), 'origination_date')
     create dummies, test and train date format alignment
 (0, 4, dtype('O'), 'first_payment_date'),
     create dummies, test and train date format alignment
 (0, 92, dtype('int64'), 'loan_to_value'),
 (0, 2, dtype('float64'), 'number_of_borrowers'),
         change value from 1, 2 to 1,0
         can create dummy but not created in iteration1
 (0, 58, dtype('float64'), 'debt_to_income_ratio'),
     create features with ranges : 1 to 5, 5 to 10
 (0, 221, dtype('float64'), 'borrower_credit_score'),
     create features with ranges : 0 to 50, 51 to 100, 101 to 150 till 850
 (0, 3, dtype('O'), 'loan_purpose'),
     dummies
 (0, 14, dtype('float64'), 'insurance_percent'),
     create features with ranges 0to10. 11 to 20.. till 40
 (0, 216, dtype('float64'), 'co-borrower_credit_score'),
     create features with ranges : 0 to 50, 51 to 100, 101 to 150 till 850
 (0, 2, dtype('float64'), 'insurance_type'),
 (0, 4, dtype('int64'), 'm1'),
 (0, 5, dtype('int64'), 'm2'),
 (0, 6, dtype('int64'), 'm3'),
 (0, 7, dtype('int64'), 'm4'),
 (0, 8, dtype('int64'), 'm5'),
 (0, 9, dtype('int64'), 'm6'),
 (0, 10, dtype('int64'), 'm7'),
 (0, 10, dtype('int64'), 'm8'),
 (0, 11, dtype('int64'), 'm9'),
 (0, 12, dtype('int64'), 'm10'),
 (0, 13, dtype('int64'), 'm11'),
 (0, 13, dtype('int64'), 'm12'),
 (0, 2, dtype('int64'), 'm13')

In [159]:
#(0, 923, dtype('float64'), 'interest_rate') = features with ranges. 0to1, 1to2, 2to3, 3to4 to 8
ld_train['IR_0to1'] = np.where(ld_train['interest_rate']<=1,1,0)
ld_train['IR_1to2'] = np.where(ld_train['interest_rate'].between(1,2),1,0)
ld_train['IR_2to3'] = np.where(ld_train['interest_rate'].between(2,3),1,0)
ld_train['IR_3to4'] = np.where(ld_train['interest_rate'].between(3,4),1,0)
ld_train['IR_4to5'] = np.where(ld_train['interest_rate'].between(4,5),1,0)
ld_train['IR_5to6'] = np.where(ld_train['interest_rate'].between(5,6),1,0)
ld_train['IR_6to7'] = np.where(ld_train['interest_rate'].between(6,7),1,0)
ld_train.drop(['interest_rate'], axis=1)


#in test data
ld_test['IR_0to1'] = np.where(ld_test['interest_rate']<=1,1,0)
ld_test['IR_1to2'] = np.where(ld_test['interest_rate'].between(1,2),1,0)
ld_test['IR_2to3'] = np.where(ld_test['interest_rate'].between(2,3),1,0)
ld_test['IR_3to4'] = np.where(ld_test['interest_rate'].between(3,4),1,0)
ld_test['IR_4to5'] = np.where(ld_test['interest_rate'].between(4,5),1,0)
ld_test['IR_5to6'] = np.where(ld_test['interest_rate'].between(5,6),1,0)
ld_test['IR_6to7'] = np.where(ld_test['interest_rate'].between(6,7),1,0)

ld_test.drop(['interest_rate'], axis=1)

,loan_id,source,financial_institution,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,...,m10,m11,m12,IR_0to1,IR_1to2,IR_2to3,IR_3to4,IR_4to5,IR_5to6,IR_6to7
0,1,Y,Browning-Hart,417000,360,01/02/12,Apr-12,75,1,20,...,0,0,0,0,0,0,1,0,0,0
1,2,X,OTHER,113000,360,01/02/12,Apr-12,80,2,33,...,0,0,0,0,0,0,0,1,0,0
2,3,Y,OTHER,72000,360,01/01/12,Mar-12,75,1,34,...,0,0,0,0,0,0,0,1,0,0
3,4,X,"Miller, Mcclure and Allen",123000,180,01/02/12,Apr-12,41,2,24,...,0,0,0,0,0,0,0,1,0,0
4,5,X,Browning-Hart,166000,180,01/02/12,Apr-12,53,2,12,...,0,0,0,0,0,0,1,0,0,0
5,6,Y,"Sanchez, Hays and Wilkerson",416000,360,01/02/12,Apr-12,65,2,19,...,0,0,0,0,0,0,1,0,0,0
6,7,X,OTHER,272000,180,01/02/12,Apr-12,77,2,8,...,0,0,0,0,0,0,1,0,0,0
7,8,X,OTHER,160000,120,01/01/12,Mar-12,54,2,18,...,0,0,0,0,0,0,1,0,0,0
8,9,X,Thornton-Davis,236000,180,01/02/12,Apr-12,42,2,33,...,0,0,0,0,0,0,1,0,0,0
9,10,Z,Browning-Hart,98000,360,01/02/12,Apr-12,80,1,36,...,0,0,0,0,0,0,0,1,0,0
10,11,X,OTHER,70000,360,01/02/12,Apr-12,51,1,45,...,0,0,0,0,0,0,1,1,0,0
11,12,X,"Miller, Mcclure and Allen",196000,96,01/02/12,Apr-12,59,2,21,...,0,0,0,0,0,1,0,0,0,0
12,13,X,OTHER,278000,180,01/02/12,Apr-12,79,2,45,...,0,0,0,0,0,1,1,0,0,0
13,14,X,"Swanson, Newton and Miller",239000,120,01/02/12,Apr-12,63,1,40,...,0,0,0,0,0,0,1,0,0,0
14,15,Y,"Cole, Brooks and Vincent",113000,360,01/02/12,May-12,48,1,16,...,0,0,0,0,0,0,0,1,0,0
15,16,Y,Browning-Hart,129000,180,01/01/12,Mar-12,80,1,36,...,0,1,1,0,0,0,1,0,0,0
16,17,X,OTHER,276000,360,01/01/12,Mar-12,95,2,35,...,0,0,0,0,0,0,0,1,0,0
17,18,X,OTHER,321000,360,01/02/12,Apr-12,95,2,21,...,0,0,0,0,0,0,1,1,0,0
18,19,X,OTHER,190000,120,01/01/12,Mar-12,80,2,27,...,0,0,0,0,0,0,1,0,0,0
19,20,X,"Miller, Mcclure and Allen",74000,180,01/01/12,Mar-12,80,1,33,...,0,0,0,0,0,0,0,1,0,0
20,21,Z,"Miller, Mcclure and Allen",161000,240,01/02/12,Apr-12,35,1,40,...,0,0,0,0,0,0,1,0,0,0
21,22,X,OTHER,360000,120,01/02/12,Apr-12,40,1,40,...,0,0,0,0,0,1,1,0,0,0
22,23,X,OTHER,70000,120,01/02/12,Apr-12,19,2,10,...,0,0,0,0,0,1,1,0,0,0
23,24,X,OTHER,175000,180,01/01/12,Mar-12,97,2,32,...,0,0,0,0,0,0,1,0,0,0
24,25,Y,Sanchez-Robinson,130000,180,01/02/12,Apr-12,64,2,12,...,0,0,0,0,0,1,0,0,0,0
25,26,Y,Browning-Hart,158000,360,01/01/12,Mar-12,79,2,28,...,0,0,0,0,0,0,1,0,0,0
26,27,Y,"Cole, Brooks and Vincent",248000,360,01/01/12,Mar-12,75,1,35,...,0,0,0,0,0,0,0,1,0,0
27,28,X,"Miller, Mcclure and Allen",91000,180,01/02/12,Apr-12,78,2,29,...,0,0,0,0,0,0,1,0,0,0
28,29,Z,OTHER,390000,360,01/02/12,Apr-12,60,2,24,...,0,0,0,0,0,0,1,0,0,0
29,30,Y,OTHER,105000,120,01/03/12,May-12,57,1,32,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35836,35837,Y,Browning-Hart,191000,360,01/02/12,Apr-12,74,2,27,...,0,0,0,0,0,0,1,0,0,0
35837,35838,X,"Miller, Mcclure and Allen",405000,360,01/01/12,Mar-12,18,2,46,...,0,0,0,0,0,0,1,0,0,0
35838,35839,X,OTHER,172000,360,01/02/12,Apr-12,77,1,44,...,0,0,0,0,0,0,1,0,0,0
35839,35840,Y,"Martinez, Duffy and Bird",43000,180,01/02/12,Apr-12,70,1,38,...,0,0,0,0,0,0,0,1,0,0
35840,35841,Y,Browning-Hart,205000,360,01/02/12,Apr-12,78,1,44,...,0,0,0,0,0,0,0,1,0,0
35841,35842,Z,OTHER,145000,360,01/01/12,Mar-12,16,1,45,...,0,0,0,0,0,0,1,0,0,0
35842,35843,Y,Browning-Hart,320000,360,01/01/12,Mar-12,80,2,42,...,0,0,0,0,0,0,0,1,0,0
35843,35844,X,OTHER,152000,180,01/02/12,Apr-12,87,1,28,...,0,0,0,0,0,0,1,0,0,0
35844,35845,X,Browning-Hart,264000,360,01/02/12,Apr-12,80,2,43,...,0,0,0,0,0,0,0,1,0,0
35845,35846,Y,"Cole, Brooks and Vincent",230000,360,01/01/12,Mar-12,66,2,23,...,0,0,0,0,0,0,1,0,0,0
35846,35847,Z,Browning-Hart,298000,360,01/01/12,Mar-12,26,2,36,...,0,0,0,0,0,0,1,0,0,0
35847,35848,Z,"Cole, Brooks and Vincent",190000,360,01/02/12,Apr-12,78,1,32,...,0,0,0,0,0,0,1,1,0,0
35848,35849,Y,OTHER,200000,360,01/01/12,Mar-12,80,1,41,...,0,0,0,0,0,0,0,1,0,0
35849,35850,Y,Edwards-Hoffman,149000,240,01/02/12,Apr-12,70,2,31,...,0,0,0,0,0,0,1,1,0,0
35850,35851,X,OTHER,241000,120,01/01/12,Mar-12,67,1,41,...,0,0,0,0,0,0,1,0,0,0
35851,35852,Y,Suarez Inc,80000,360,01/01/12,Mar-12,32,1,34,...,0,0,0,0,0,0,1,0,0,0
35852,35853,X,OTHER,101000,360,01/02/12,Apr-12,80,1,45,...,0,0,0,0,0,0,0,1,0,0
35853,35854,Z,OTHER,387000,360,01/02/12,Apr-12,80,1,36,...,0,0,0,0,0,0,1,0,0,0
35854,35855,X,OTHER,130000,360,01/01/12,Mar-12,60,2,36,...,0,0,0,0,0,0,1,0,0,0
35855,35856,Y,OTHER,170000,240,01/02/12,Apr-12,60,2,22,...,0,0,0,0,0,0,1,0,0,0
35856,35857,X,OTHER,240000,360,01/01/12,Mar-12,73,2,38,...,0,0,0,0,0,0,0,1,0,0
35857,35858,X,Browning-Hart,304000,360,01/02/12,May-12,80,1,22,...,0,0,0,0,0,0,1,1,0,0
35858,35859,X,Browning-Hart,79000,180,01/02/12,Apr-12,64,1,44,...,0,0,0,0,0,0,0,1,0,0
35859,35860,X,OTHER,237000,360,01/01/12,Mar-12,64,1,45,...,0,0,0,0,0,0,1,1,0,0
35860,35861,Y,Browning-Hart,226000,180,01/02/12,Apr-12,80,2,24,...,0,0,0,0,0,0,1,0,0,0
35861,35862,X,OTHER,232000,240,01/01/12,Apr-12,80,2,30,...,0,0,0,0,0,0,0,1,0,0
35862,35863,Z,Edwards-Hoffman,204000,180,01/01/12,Mar-12,80,1,30,...,0,0,0,0,0,0,1,0,0,0
35863,35864,X,Browning-Hart,200000,360,01/02/12,Apr-12,52,2,38,...,0,0,0,0,0,0,0,1,0,0
35864,35865,Y,Edwards-Hoffman,400000,360,01/02/12,Apr-12,66,1,34,...,0,0,0,0,0,0,0,1,0,0
35865,35866,X,OTHER,182000,360,01/02/12,Apr-12,70,1,3,...,0,0,0,0,0,0,0,1,0,0

In [160]:
#create dummy for top 7 values of loan_term
k=ld_train['loan_term'].value_counts()

for val in k.axes[0][0:7]:
    varname='loan_term_'+str(val)
    ld_train[varname]=np.where(ld_train['loan_term']==val,1,0)
    ld_test[varname]=np.where(ld_test['loan_term']==val,1,0)
del ld_train['loan_term']
del ld_test['loan_term']

In [161]:
# (0, 58, dtype('float64'), 'debt_to_income_ratio') = create features with ranges : 1 to 5, 5 to 10 till 65
i=(0,5,10,15,20,25,30,35,40,45,50,55,60)

for var in i:
    var_name = 'DIR_'+str(var)+'to'+str(var+5)
    ld_train[var_name]=np.where(ld_train['debt_to_income_ratio'].between(var, var+5),1,0)
    ld_test[var_name]=np.where(ld_test['debt_to_income_ratio'].between(var, var+5),1,0)

del ld_train['debt_to_income_ratio']
del ld_test['debt_to_income_ratio']

In [162]:
# (0, 221, dtype('float64'), 'borrower_credit_score') = create features with ranges : 0 to 50, 51 to 100, 101 to 150 till 850
i=0

while i < 850:
    var_name = 'BCS_'+str(i)+'to'+str(i+50)
    ld_train[var_name]=np.where(ld_train['borrower_credit_score'].between(i, i+50),1,0)
    ld_test[var_name]=np.where(ld_test['borrower_credit_score'].between(i,i+50),1,0)
    i+=50

del ld_train['borrower_credit_score']
del ld_test['borrower_credit_score']

In [163]:
# (0, 14, dtype('float64'), 'insurance_percent') = create features with ranges 0to10. 11 to 20.. till 40
i=0

while i < 40:
    i_from = i
    i_to = i+10
    var_name = 'IP_'+str(i_from)+'to'+str(i_to)
    ld_train[var_name]=np.where(ld_train['insurance_percent'].between(i_from, i_to),1,0)
    ld_test[var_name]=np.where(ld_test['insurance_percent'].between(i_from, i_to),1,0)
    print(var_name)
    i+=10

del ld_train['insurance_percent']
del ld_test['insurance_percent']

IP_0to10
IP_10to20
IP_20to30
IP_30to40

In [164]:
 #(0, 216, dtype('float64'), 'co-borrower_credit_score') = create features with ranges : 0 to 50, 51 to 100, 101 to 150 till 850
    
i=0

while i < 850:
    i_from = i
    i_to = i+50
    var_name = 'CBCS_'+str(i_from)+'to'+str(i_to)
    ld_train[var_name]=np.where(ld_train['co-borrower_credit_score'].between(i_from, i_to),1,0)
    ld_test[var_name]=np.where(ld_test['co-borrower_credit_score'].between(i_from, i_to),1,0)
    print(var_name)
    i=i_to

del ld_train['co-borrower_credit_score']
del ld_test['co-borrower_credit_score']

CBCS_0to50
CBCS_50to100
CBCS_100to150
CBCS_150to200
CBCS_200to250
CBCS_250to300
CBCS_300to350
CBCS_350to400
CBCS_400to450
CBCS_450to500
CBCS_500to550
CBCS_550to600
CBCS_600to650
CBCS_650to700
CBCS_700to750
CBCS_750to800
CBCS_800to850

Documentation reference for datetime format @https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [165]:
# (0, 3, dtype('O'), 'origination_date') =create dummies, test and train date format alignment
# (0, 4, dtype('O'), 'first_payment_date') = create dummies, test and train date format alignment
#convert the columns into date time
for col in ['origination_date','first_payment_date']:
    ld_train[col]=pd.to_datetime(ld_train[col],infer_datetime_format=True)
    
for col in ['origination_date']:
    ld_test[col]=pd.to_datetime(ld_test[col],infer_datetime_format=True)

for col in ['first_payment_date']:
    ld_test['first_payment_date']=pd.to_datetime(ld_test[col],infer_datetime_format=True, format='%b-%y')

In [182]:
#create feature having difference between origination date and first payment date
#droping both originating and first payment date column
ld_train['diff_date_origin_firstPay']=pd.to_numeric(ld_train['first_payment_date']-ld_train['origination_date'])/(60*60*24*1000000000)
ld_test['diff_date_origin_firstPay']=pd.to_numeric(ld_test['first_payment_date']-ld_test['origination_date'])/(60*60*24*1000000000)

del ld_train['origination_date']
del ld_test['origination_date']
del ld_train['first_payment_date']
del ld_test['first_payment_date']

In [187]:
#create dummy columns
for col in ['source', 'financial_institution','loan_purpose']:
    
    temp=pd.get_dummies(ld_train[col],prefix=col,drop_first=True)
    ld_train=pd.concat([temp,ld_train],1)
    ld_train.drop([col],1,inplace=True)
    
    temp=pd.get_dummies(ld_test[col],prefix=col,drop_first=True)
    ld_test=pd.concat([temp,ld_test],1)
    ld_test.drop([col],1,inplace=True)

In [190]:
print(ld_test.shape)
print(ld_train.shape)

(35866, 106)
(116058, 107)

### train and test dataset creation

In [204]:
#from sklearn.cross_validation import train_test_split,KFold
x=ld_train.drop(['loan_id','m13'],1)
y=ld_train['m13']

### Model creation

#### Decision tree

In [192]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier

In [193]:
params={ 'class_weight':[None,'balanced'], 
        'criterion':['entropy','gini'],
        'max_depth':[None,5,10,15,20,30,50,70],
            'min_samples_leaf':[1,2,5,10,15,20], 
            'min_samples_split':[2,5,10,15,20]
}

In [194]:
clf=DecisionTreeClassifier()

In [206]:
random_search=RandomizedSearchCV(clf,cv=10,
                                 param_distributions=params,
                                 scoring='f1',
                                 n_iter=10, verbose=1)

In [207]:
random_search.fit(x,y)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  2.6min finished

RandomizedSearchCV(cv=10, error_score='raise',
          estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          fit_params=None, iid=True, n_iter=10, n_jobs=1,
          param_distributions={'class_weight': [None, 'balanced'], 'criterion': ['entropy', 'gini'], 'max_depth': [None, 5, 10, 15, 20, 30, 50, 70], 'min_samples_leaf': [1, 2, 5, 10, 15, 20], 'min_samples_split': [2, 5, 10, 15, 20]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring='f1', verbose=1)

In [211]:
dtree=random_search.best_estimator_
dtree

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [209]:
##Report function
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.5f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [210]:
report(random_search.cv_results_,5)

Model with rank: 1
Mean validation score: 0.476 (std: 0.06810)
Parameters: {'min_samples_split': 10, 'min_samples_leaf': 1, 'max_depth': 10, 'criterion': 'entropy', 'class_weight': None}

Model with rank: 2
Mean validation score: 0.475 (std: 0.06515)
Parameters: {'min_samples_split': 2, 'min_samples_leaf': 1, 'max_depth': 10, 'criterion': 'entropy', 'class_weight': None}

Model with rank: 3
Mean validation score: 0.475 (std: 0.05928)
Parameters: {'min_samples_split': 15, 'min_samples_leaf': 5, 'max_depth': 50, 'criterion': 'entropy', 'class_weight': None}

Model with rank: 4
Mean validation score: 0.474 (std: 0.07102)
Parameters: {'min_samples_split': 15, 'min_samples_leaf': 20, 'max_depth': 70, 'criterion': 'gini', 'class_weight': None}

Model with rank: 5
Mean validation score: 0.320 (std: 0.05493)
Parameters: {'min_samples_split': 5, 'min_samples_leaf': 1, 'max_depth': None, 'criterion': 'gini', 'class_weight': 'balanced'}

In [217]:
prediction=np.where(dtree.predict(ld_test.drop(['loan_id'],1))==1,1,0)
submission=pd.DataFrame(list(zip(ld_test['loan_id'],list(prediction))),
                       columns=['loan_id','m13'])

In [215]:
submission.head(4)
print(ld_test.shape)

(35866, 106)

In [218]:
submission.to_csv('sample_submission_1908.csv',index=False)

In [185]:
ld_train['insurance_type'].describe()

count    116058.000000
mean          0.003257
std           0.056977
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: insurance_type, dtype: float64

In [184]:
ld_train['insurance_type'].value_counts()

0.0    115680
1.0       378
Name: insurance_type, dtype: int64

In [180]:
ld_train.head(3)

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,origination_date,first_payment_date,loan_to_value,number_of_borrowers,loan_purpose,...,CBCS_400to450,CBCS_450to500,CBCS_500to550,CBCS_550to600,CBCS_600to650,CBCS_650to700,CBCS_700to750,CBCS_750to800,CBCS_800to850,diff_date_origin_firstPay
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,2012-03-01,2012-05-01,95,1.0,C86,...,0,0,0,0,0,0,0,0,0,61.0
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,2012-01-01,2012-03-01,72,1.0,B12,...,0,0,0,0,0,0,0,0,0,60.0
2,742515242108,Z,Thornton-Davis,3.250,366000,2012-01-01,2012-03-01,49,1.0,B12,...,0,0,0,0,0,0,0,0,0,60.0

In [175]:
ld_test.head(3)

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,origination_date,first_payment_date,loan_to_value,number_of_borrowers,loan_purpose,...,CBCS_400to450,CBCS_450to500,CBCS_500to550,CBCS_550to600,CBCS_600to650,CBCS_650to700,CBCS_700to750,CBCS_750to800,CBCS_800to850,diff_date_origin_firstPay
0,1,Y,Browning-Hart,3.875,417000,2012-01-02,2012-04-01,75,1,A23,...,0,0,0,0,0,0,0,0,0,7776000000000000
1,2,X,OTHER,4.500,113000,2012-01-02,2012-04-01,80,2,C86,...,0,0,0,0,0,0,0,1,0,7776000000000000
2,3,Y,OTHER,4.500,72000,2012-01-01,2012-03-01,75,1,C86,...,0,0,0,0,0,0,0,0,0,5184000000000000

In [103]:
ld_train['origination_date'].describe()

count                  116058
unique                      3
top       2012-02-01 00:00:00
freq                    52334
first     2012-01-01 00:00:00
last      2012-03-01 00:00:00
Name: origination_date, dtype: object

In [104]:
ld_train['origination_date'].value_counts()

2012-02-01    52334
2012-01-01    49093
2012-03-01    14631
Name: origination_date, dtype: int64

In [127]:
ld_train.dtypes

loan_id                           int64
source                           object
financial_institution            object
interest_rate                   float64
unpaid_principal_bal              int64
origination_date         datetime64[ns]
first_payment_date       datetime64[ns]
loan_to_value                     int64
number_of_borrowers             float64
loan_purpose                     object
insurance_type                  float64
m1                                int64
m2                                int64
m3                                int64
m4                                int64
m5                                int64
m6                                int64
m7                                int64
m8                                int64
m9                                int64
m10                               int64
m11                               int64
m12                               int64
m13                               int64
IR_0to1                           int32
IR_1to2                           int32
IR_2to3                           int32
IR_3to4                           int32
IR_4to5                           int32
IR_5to6                           int32
                              ...
BCS_400to450                      int32
BCS_450to500                      int32
BCS_500to550                      int32
BCS_550to600                      int32
BCS_600to650                      int32
BCS_650to700                      int32
BCS_700to750                      int32
BCS_750to800                      int32
BCS_800to850                      int32
IP_0to10                          int32
IP_10to20                         int32
IP_20to30                         int32
IP_30to40                         int32
CBCS_0to50                        int32
CBCS_50to100                      int32
CBCS_100to150                     int32
CBCS_150to200                     int32
CBCS_200to250                     int32
CBCS_250to300                     int32
CBCS_300to350                     int32
CBCS_350to400                     int32
CBCS_400to450                     int32
CBCS_450to500                     int32
CBCS_500to550                     int32
CBCS_550to600                     int32
CBCS_600to650                     int32
CBCS_650to700                     int32
CBCS_700to750                     int32
CBCS_750to800                     int32
CBCS_800to850                     int32
Length: 89, dtype: object

In [148]:
ld_test.dtypes

loan_id                    int64
source                    object
financial_institution     object
interest_rate            float64
unpaid_principal_bal       int64
origination_date          object
first_payment_date        object
loan_to_value              int64
number_of_borrowers        int64
loan_purpose              object
insurance_type             int64
m1                         int64
m2                         int64
m3                         int64
m4                         int64
m5                         int64
m6                         int64
m7                         int64
m8                         int64
m9                         int64
m10                        int64
m11                        int64
m12                        int64
IR_0to1                    int32
IR_1to2                    int32
IR_2to3                    int32
IR_3to4                    int32
IR_4to5                    int32
IR_5to6                    int32
IR_6to7                    int32
                          ...
BCS_400to450               int32
BCS_450to500               int32
BCS_500to550               int32
BCS_550to600               int32
BCS_600to650               int32
BCS_650to700               int32
BCS_700to750               int32
BCS_750to800               int32
BCS_800to850               int32
IP_0to10                   int32
IP_10to20                  int32
IP_20to30                  int32
IP_30to40                  int32
CBCS_0to50                 int32
CBCS_50to100               int32
CBCS_100to150              int32
CBCS_150to200              int32
CBCS_200to250              int32
CBCS_250to300              int32
CBCS_300to350              int32
CBCS_350to400              int32
CBCS_400to450              int32
CBCS_450to500              int32
CBCS_500to550              int32
CBCS_550to600              int32
CBCS_600to650              int32
CBCS_650to700              int32
CBCS_700to750              int32
CBCS_750to800              int32
CBCS_800to850              int32
Length: 88, dtype: object